.intro{
    background-image:url("https://images.unsplash.com/photo-1495651779359-881fde1808a6?dpr=1&auto=format&fit=crop&w=1950&q=60&cs=tinysrgb");
    background-size: cover;
    height:400px;
    width:100%;
    background-position:center;
    color:whitesmoke;
    border-radius:3px;
}
.intro-content{
    margin-top:200px;
}
.rockstar-content{
    border-radius: 3px;
    margin-top:10px;
    background-color:rgba(202, 210, 211, 0.473);
}
.thumbnail{
    background-color:black;
    
}
.thumbnail p{
    color:whitesmoke;
}
.thumbnail img{ 
    width: 155px;
    height:120px;
}
.thumbs{
    border-radius:3px;
    margin-top:10px;
    padding-top:15px;
    background-color:black;
    
}
.footer{
    margin-top:10px;
    padding-top:15px;
    background-color:rgba(202, 210,211, 0.473);
}
a{
    margin-left:10px;
    color:black;
}
.logo1{
    height:50px;
}